In [2]:
import gzip
import json
import pandas as pd
from src.config import Config
from src.data.load_data import load_reviews_chunks

In [6]:
# Load the sampled data
df = load_reviews_chunks(file_path=Config.REVIEW_FILE)
business_df = df_business = load_reviews_chunks(file_path=Config.BUSINESS_FILE)


# Verify sample size and distribution
print(f"Total samples: {len(df):,}")
print("\nRating distribution:")
print(df['stars'].value_counts().sort_index())
display(df.head())

Total samples: 50,000

Rating distribution:
stars
1.0    10000
2.0    10000
3.0    10000
4.0    10000
5.0    10000
Name: count, dtype: int64

,review_id,user_id,business_id,stars,text,date,useful,review_index
0,cgKpVxphru6LE07EOuo2hw,iiaWyeXrdiddVVshvv7mzA,BjBDHqHhMXSxgyVipccznQ,4.0,Very few restaurants on the waterfront actuall...,2016-01-04 19:42:39,2,0
1,RXMQFVI6r-Ep00qmcdV6Zw,VvMl_wuqS1N0UVSHZeeFlg,mygIk3l_ShNNB-QbWlrRyg,1.0,Did not mind going to this restaurant though I...,2018-03-18 00:19:11,0,1
2,gKWesqRgEvbiVogTyvk5Gw,I8c5pBMGW_imTgsyw-JNOw,MMRRS6YhVRx_iN5-JhMRYg,1.0,"Ok. I am not the type to complain, but I have ...",2018-06-19 16:17:05,1,2
3,SGn1d7-qP8UVAqUaJ3KQ5g,xa0aM4h8FZYGHAFZ0nWANQ,Shywx8-jqV1IxwLaefbcSA,2.0,The bakery went downhill lately. While most pa...,2014-08-14 17:40:23,1,3
4,rfra_UYNx1ATzWkA91t17w,efNltTk3GAaNpMqDRfJV-A,dChRGpit9fM_kZK5pafNyA,4.0,Very pretty restaurant. Great drinks. Went for...,2018-03-06 03:30:12,0,4

In [7]:
# Verify sample size and distribution
print(f"Total samples: {len(business_df):,}")
print("\nRating distribution:")
print(business_df['stars'].value_counts().sort_index())
display(business_df.head())

Total samples: 150,346

Rating distribution:
stars
1.0     1986
1.5     4932
2.0     9527
2.5    14316
3.0    18453
3.5    26519
4.0    31125
4.5    27181
5.0    16307
Name: count, dtype: int64

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories,business_index
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop...",0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma...",1
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"Department Stores, Shopping, Fashion, Home & G...",2
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",3
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food",4